# tensor dumps
*.pt
# Compiler Output #
###################
*.py[cod]
*.so
*.o
*.exe
*.class

# Folders #
###########
bin/
build/
dist/
scripts/
local/
tmp/
__pycache__/
*.egg-info/
.idea/
.ipynb_checkpoints/
.vscode/
esm/dev
local/
weights/

# Cluster Ouputs #
submit*.slurm
submit*.sh
slurm_logs/
slurm*.out
*.ipynb
data/example_*

# Junk #
########
.DS_Store*
.*.swp
*.swp
*.log
*~
